# PostgreSQL
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# Backend
DATABASE_URL=
AUTHENTIK_ISSUER=
AUTHENTIK_CLIENT_ID=
ENABLE_AUTH=

# Frontend
VITE_API_BASE_URL=
VITE_AUTHENTIK_ISSUER=
VITE_AUTHENTIK_CLIENT_ID=
VITE_ENABLE_AUTH=
